.cancel-line-break-margin {
  margin-left: -4px;
}
body {
  background: pink;
}
#carousel {
  width: 960px;
  margin: 0 auto;
  background-color: #ffc0cb;
}
#carousel .chart-container {
  position: relative;
  height: 390px;
  text-align: center;
}
#carousel .chart-container .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#carousel .chart-container .bars {
  display: inline-block;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#carousel .chart-container .bars .bar {
  display: inline-block;
  width: 20px;
  height: 440px;
  margin-right: 5px;
  background: url('../images/chart1.jpg') no-repeat;
  position: absolute;
  bottom: 0;
}
#carousel .chart-container .bars .bar:first-child {
  margin-left: 0;
}
#carousel .chart-container .bars .bar.last {
  margin-right: 0;
}
#carousel #bar1 {
  background-position: 0px -325px;
}
#carousel #bar2 {
  background-position: -25px -300px;
}
#carousel #bar3 {
  background-position: -50px -275px;
}
#carousel #bar4 {
  background-position: -75px -165px;
}
#carousel #bar5 {
  background-position: -100px -270px;
}
#carousel #bar6 {
  background-position: -125px -260px;
}
#carousel #bar7 {
  background-position: -150px -290px;
}
#carousel #bar8 {
  background-position: -175px -200px;
}
#carousel #bar9 {
  background-position: -200px -175px;
}
#carousel #bar10 {
  background-position: -225px -175px;
}
#carousel #bar11 {
  background-position: -250px -60px;
}
#carousel #bar12 {
  background-position: -275px -50px;
}
#carousel #bar13 {
  background-position: -300px -70px;
}
#carousel #bar14 {
  background-position: -325px -30px;
}
#carousel #bar15 {
  background-position: -350px -10px;
}
#carousel #bar16 {
  background-position: -375px 10px;
}
#carousel #bar17 {
  background-position: -400px -100px;
}
#carousel #bar18 {
  background-position: -425px -50px;
}
#carousel #bar19 {
  background-position: -450px 30px;
}
#carousel #bar20 {
  background-position: -475px 30px;
}
#carousel #bar21 {
  background-position: -500px 5px;
}
#carousel #bar22 {
  background-position: -525px -20px;
}
#carousel #bar23 {
  background-position: -550px 20px;
}
#carousel #bar24 {
  background-position: -575px 10px;
}
#carousel #bar25 {
  background-position: -600px 0px;
}
#carousel #bar26 {
  background-position: -625px 0px;
}
#carousel #bar27 {
  background-position: -650px -10px;
}
#carousel #bar28 {
  background-position: -675px -30px;
}
#carousel #bar29 {
  background-position: -700px -70px;
}
#carousel #bar30 {
  background-position: -725px -100px;
}
#carousel #bar31 {
  background-position: -750px -15px;
}
#carousel #bar32 {
  background-position: -775px -170px;
}
#carousel #bar33 {
  background-position: -800px -190px;
}
#carousel #bar34 {
  background-position: -825px -200px;
}
#carousel #bar35 {
  background-position: -850px -210px;
}
#carousel #bar36 {
  background-position: -875px -200px;
}
#carousel #bar37 {
  background-position: -900px -300px;
}
#carousel #bar38 {
  background-position: -925px -330px;
}
